/* Reset CSS */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Variáveis CSS */
:root {
    --dark-blue-color: #2C3E50;
    --white-color: #FFFFFF;
    --green-color: #1ABC9C;
}

/* header */
.header {
    height: 100px;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}