/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Variáveis CSS */
:root {
  --dark-blue-color: #2c3e50;
  --white-color: #ffffff;
  --green-color: #1abc9c;
}

/* header */
.header {
  height: 100px;
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;
  text-transform: uppercase;
}

.header__brand {
  font-weight: 700;
  font-size: 18px;
}

.header__menu {
  display: flex;
  gap: 20px;
  font-size: 14px;
}

.header__menu-item {
  position: relative;
  padding-bottom: 4px;
}

nav a::after {
    /* Linha invisível antes do hover */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: var(--white-color); /* Cor do underline */
  transition: width 0.4s ease-in-out;
}

/* Animação no hover */
nav a:hover::after {
  width: 100%;
}

/* Profile/Sobre */
.profile {
  background-color: var(--green-color);
  color: var(--white-color);
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 30px;
}

.profile-box-img {
  width: 150px;
  height: 150px;
}

/* Portifólio / Projetos */
.projects {
  background-color: var(--white-color);
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  color: var(--dark-blue-color);
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 25px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.project-card {
  border-radius: 10px;
  overflow: hidden;
  width: 280px;
  height: 200px;
}

/* Footer */
footer {
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  padding: 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-text {
  font-size: 14px;
}

.footer-icons {
  display: flex;
  gap: 20px;
}

.footer-icons .social-icon {
  width: 32px;
  transition: transform 0.3s ease-in-out;
}

.footer-icons .social-icon:hover {
  transform: scale(1.2);
}